.btn {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.btn button {
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #30a7d7;
	background: #30a7d7;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.btn button:hover {
	color: #366bd0;
	background: transparent;
	border-color: #366bd0;
}

.btn button:disabled {
	background: #808080;
	border: 2px solid #808080;
	color: black;
	cursor: default;
}

section {
	width: 80%;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 10px;
}
