a {
	color: inherit;
	text-decoration: inherit;
}

.Card {
	background: white;
	border-radius: 10px;
}

.img {
	text-align: center;
}

.types {
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}

.type {
	padding: 5px 10px;
	margin: 10px 10px 10px 0;
	border-radius: 5px;
	background: #366bd0;
	color: #fff;
}

.name {
	text-align: center;
	text-transform: capitalize;
	font-weight: 800;
}

.info {
	margin-left: 10px;
}

.data {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

.data p {
	font-weight: 700;
}

.data span {
	font-weight: 400;
}

.ability {
	display: block;
	text-transform: capitalize;
}

.card {
	border: 5px solid #000000;
	border-radius: 10px;
}

/* Type Color */
.bug {
	background: #729f3f;
}

.dark {
	background: #707070;
}

.dragon {
	background: #53a4cf;
}

.electric {
	background: #eed535;
}

.fairy {
	background: #fdb9e9;
}

.fighting {
	background: #d56723;
}

.fire {
	background: #fd7d24;
}

.flying {
	background: #3dc7ef;
}

.ghost {
	background: #7b62a3;
}

.grass {
	background: #9bcc50;
}

.ground {
	background: #f7de3f;
}

.ice {
	background: #51c4e7;
}

.normal {
	background: #a4acaf;
}

.poison {
	background: #b97fc9;
}

.pyschic {
	background: #f366b9;
}

.rock {
	background: #a38c21;
}

.steel {
	background: #b8b8d0;
}

.water {
	background: #4592c4;
}
